.input-wrapper {
  position: relative;
  max-width: 316px;
  width: 100%;
  padding: 1px;
  background: linear-gradient(145deg, #b7d3f7 0%, #35374b 100%);
  border-radius: 4px;
}

.input-wrapper .input {
  width: 100%;
  padding: 10px 14px;
  background: linear-gradient(145deg, #0a192f 0%, #1a2f4f 100%);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

.input-wrapper .input:focus {
  outline: none;
  box-shadow: 3px 3px 10px rgba(46, 54, 78, 0.5);
}

.input-wrapper .input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-wrapper.error {
  background: linear-gradient(145deg, #ad01018c 0%, #ff202075 100%);
}
